<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <h1>공통 머리말</h1>
    <a href="/mustache-test">문법연습</a> | <a href="/layout-test">레이아웃 연습</a>
</header>

